!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ReClothes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    .Header
      = link_to root_path, class: "headerlogo" do
        ReClothes
      - if user_signed_in?
        .XXXX
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to  "投稿する", "/posts/new", class: "YYYY"
      - else
        .ZZZZ
          = link_to "ログイン", new_user_session_path, class: 'YYYY'
          = link_to "新規登録", new_user_registration_path, class: 'YYYY'
    = yield
