!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ReClothes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Header
      = link_to root_path, class: "headerlogo" do
        ReClothes
      .Header__info
        .Header__info__new
          新規登録
        .Header__info__in
          ログイン
        .Header__innfo__out
          ログアウト
    = yield
